<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <header class="headerWrap">  <!--D: bg-color02 클래스 : 뒤에 색상 들어갈 경우  -->
		<div class="headerLeft">
			<a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a> <!--D: 이전버튼 -->
		</div>
		<div class="headerCenter">
			<h2 class="text"><span>대출신청</span></h2> 
		</div>
		<div class="headerRight">
		</div>
	</header>
	<!-- //header -->

    <form>
        <!--contentsWrap -->
        <div class="contentsWrap grid"><!--D : grid 추가-->
            <!--contents -->
            <div class="contents">
                <div class="default-wrap">
                    <section><!-- D : section 추가-->
                        <div class="tit-wrap">
                            <p class="txt">대출 신청을 위해<br><strong>약관에 동의</strong>가 필요해요</p><!--D: 텍스트 변경-->
                        </div>

                        <div class="terms-area" id="validateArea"><!--D: div로 변경-->

                            <div class="terms-wrap level1 chk-all">
                                <fieldset>
                                    <input type="checkbox" id="allChk01" class="check all" data-TERMS_CODE="PC00000013"
                                        onchange="agreeChk(this);">
                                    <label for="allChk01"><span>약관에 모두 동의할게요</span></label>
                                </fieldset>
                            </div>
                            <!-- 약관목록반복
                            약관상태저장은 본 페이지에서 해야 하므로 / 펑션을 하나 제공
                            전체동의는 조회 카테고리로 처리 (상품코드.pdf)
                            -->
    
                            <div class="terms-wrap level2">
                                <fieldset>
                                    <input type="checkbox" id="chk_T000800001" name="check" value="" class="check agreeYn validChk " onclick="biz.terms('T000800001', $('#chk_T000800001'));">
                                    <label for="chk_T000800001"><span>[필수] 개인(신용)정보 수집·이용·제공·조회 동의서 </span></label>
                                </fieldset>
                            </div>
    
                            <div class="terms-wrap level2">
                                <fieldset>
                                    <input type="checkbox" id="chk_T000800002" name="check" value="" class="check agreeYn validChk " onclick="biz.terms('T000800002', $('#chk_T000800002'));">
                                    <label for="chk_T000800002"><span>[필수] 개인(신용)정보 수집·이용·제공 동의서(여신 금융거래) </span></label>
                                </fieldset>
                            </div>
    
                            <div class="terms-wrap level2">
                                <fieldset>
                                    <input type="checkbox" id="chk_T000800003" name="check" value="" class="check agreeYn  mktChk" onclick="biz.terms('T000800003', $('#chk_T000800003'));">
                                    <label for="chk_T000800003"><span>[선택] 개인(신용)정보 수집·이용·제공 동의서(상품서비스 안내) </span></label>
                                </fieldset>
    
    
                                <div class="etc level3">
                                    <div class="terms-wrap">
                                        <input type="checkbox" id="svcCheck01" name="check" value="" class="check mktYn">
                                        <label for="svcCheck01">문자</label>
                                    </div>
                                    <div class="terms-wrap">
                                        <input type="checkbox" id="svcCheck02" name="check" value="" class="check mktYn">
                                        <label for="svcCheck02">이메일</label>
                                    </div>
                                    <div class="terms-wrap">
                                        <input type="checkbox" id="svcCheck03" name="check" value="" class="check mktYn">
                                        <label for="svcCheck03">전화</label>
                                    </div>
                                    <div class="terms-wrap">
                                        <input type="checkbox" id="svcCheck04" name="check" value="" class="check mktYn">
                                        <label for="svcCheck04">DM</label>
                                    </div>
                                </div>
                            </div>
    
                            <div class="terms-wrap level2">
                                <fieldset>
                                    <input type="checkbox" id="chk_T000800011" name="check" value="" class="check agreeYn  " onclick="biz.terms('T000800011', $('#chk_T000800011'));">
                                    <label for="chk_T000800011"><span>[선택] 대출거절사유 고지에 관한 사항 </span></label>
                                </fieldset>
                            </div>
    
                            <div class="terms-wrap level2">
                                <fieldset>
                                    <input type="checkbox" id="chk_T000800004" name="check" value="" class="check agreeYn validChk " onclick="biz.terms('T000800004', $('#chk_T000800004'));">
                                    <label for="chk_T000800004"><span>[필수] 가계대출 상품설명서 </span></label>
                                </fieldset>
                            </div>
    
                            <div class="terms-wrap level2">
                                <fieldset>
                                    <input type="checkbox" id="chk_T000800006" name="check" value="" class="check agreeYn validChk" onclick="biz.terms('T000800006', $('#chk_T000800006'));">
                                    <label for="chk_T000800006"><span>[필수] 개인(신용)정보 조회동의서 (서민금융진흥원用) </span></label>
                                </fieldset>
                            </div>
    
                            <div class="terms-wrap level2">
                                <fieldset>
                                    <input type="checkbox" id="chk_T000800007" name="check" value="" class="check agreeYn validChk " onclick="biz.terms('T000800007', $('#chk_T000800007'));">
                                    <label for="chk_T000800007"><span>[필수] 개인(신용)정보의 수집·이용·제공 및 행정·공공기관 및 금융회사 정보제공 동의 (서민금융진흥원) </span></label>
                                </fieldset>
                            </div>
    
                            <div class="terms-wrap level2">
                                <fieldset>
                                    <input type="checkbox" id="chk_T000800008" name="check" value=""
                                        class="check agreeYn validChk " onclick="biz.terms('T000800008', $('#chk_T000800008'));">
                                    <label for="chk_T000800008"><span>[필수] 개인(신용)정보 및 기업(신용)정보 조회·수집·이용·제공과 행정정보공동이용, 전자금융거래확인서 발급을 위한 동의서 관리
                                        </span></label>
                                </fieldset>
                            </div>
    
                            <div class="terms-wrap level2">
                                <fieldset>
                                    <input type="checkbox" id="chk_T000800009" name="check" value=""
                                        class="check agreeYn validChk "
                                        onclick="biz.terms('T000800009', $('#chk_T000800009'));">
                                    <label for="chk_T000800009"><span>[필수] 계약 체결이행 등을 위한 필수 동의서(개인금융성신용보험용) </span></label>
                                </fieldset>
                            </div>
    
                            <div class="terms-wrap level2">
                                <fieldset>
                                    <input type="checkbox" id="chk_T000800010" name="check" value=""
                                        class="check agreeYn validChk "
                                        onclick="biz.terms('T000800010', $('#chk_T000800010'));">
                                    <label for="chk_T000800010"><span>[필수] CMS출금이체 동의 </span></label>
                                </fieldset>
                            </div>
    
                            <div class="terms-wrap level2">
                                <fieldset>
                                    <input type="checkbox" id="chk_T000800016" name="check" value=""
                                        class="check agreeYn validChk "
                                        onclick="biz.terms('T000800016', $('#chk_T000800016'));">
                                    <label for="chk_T000800016"><span>[필수] 개인(신용)정보 제3자 제공동의서[통신관련정보] </span></label>
                                </fieldset>
                            </div>
    
                            <div class="terms-wrap level2">
                                <fieldset>
                                    <input type="checkbox" id="chk_T000800017" name="check" value="" class="check agreeYn  "
                                        onclick="biz.terms('T000800017', $('#chk_T000800017'));">
                                    <label for="chk_T000800017"><span>[선택] 개인(신용)정보 수집·이용 동의서(보증료 우대 서비스) </span></label>
                                </fieldset>
                            </div>
    
                            <div class="terms-wrap level2">
                                <fieldset>
                                    <input type="checkbox" id="chk_T000800018" name="check" value="" class="check agreeYn  "
                                        onclick="biz.terms('T000800018', $('#chk_T000800018'));">
                                    <label for="chk_T000800018"><span>[선택] 개인(신용)정보 수집·이용 동의서(상품서비스 안내 등)</span></label>
                                </fieldset>
                            </div>
    
                        </div>
                    </section>

                    <section><!--D: section 추가 및 list-bull 구조 변경 -->
                        <div class="list-bull">
                            <div class="border"></div>
                            <strong>알아두세요</strong>
                            <ul>
                                <li>상기 사항에 동의 시, 저금리 정책 상품의 결과조회 및 취급
                                    이 가능하며 동의에 의한 개인(신용)정보 조회는 신용등급에 영향을 미치지 않아요</li>
                                <li>단, 당행의 신용평가 시스템 및 해당 정책상품 실행기관의 심사기준과 개인의 신용도에 따라 대출여부가 결정돼요</li>
                            </ul>
                        </div>
                    </section>
                   

                    

                </div>
            </div>
            <!-- //contents -->

            <div class="fixed-btn-wrap">
				<div class="btn-wrap">
					<a href="javascript:void(0);" class="btn disabled" >확인</a><!--D: disabled 삭제 시 활성화-->
				</div>
			</div>

        </div>
        <!-- //contentsWrap -->
    </form>
</body>
</html>

