<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0, viewport-fit=cover">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.7/swiper-bundle.min.js"></script>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.7/swiper-bundle.css"> -->

<!-- <script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script> -->
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803133439"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803133439"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803133439"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803133439"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803133439"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803133439"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803133439"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803133439"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803133439" id="biz_common" 
	data-menuId=""
	data-frameId="main"
	data-serviceCd="main.frm" 
	data-serverTime="20230803133439"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>
<link href="/resources/css/main_renewal.css" rel="stylesheet" />
<script type="text/javascript">


$(document).ready(function(){

	// 하단배너는 고정
    var newsSlider = new Swiper('.loan-slider-wrap.swiper', { 
        slidesPerView: 1,
        spaceBetween : 20,
        pagination : {
            el : '.swiper-pagination',
            // clickable : true,
        },
		observer:true,
		observeParents:true,
        // 2023-06-23 추가
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
        loop : true,
		// loopedSlides: 1,
		centeredSlides: true,
		// initialSlide: 0,
		//   slidesPerGroup: 1,
		//   roundLengths: true,
		loopAdditionalSlides: 1,
    });
    
});
</script>
<style>
    .login-guide .content-wrap { padding:0; height:calc(100% - 100px);  }
    .login-guide .pop-con-wrap { height:100%; }
    .login-guide .default-wrap{ padding:0 !important; height:100%; }
    .login-guide .loan-slider-wrap { padding:0; height:100%; background:blue; }
    .login-guide .swiper-wrapper {margin:0; height:100%;  }
    .login-guide .swiper-slide { margin:0; width:100%; height:100%; }
    .login-guide .swiper-pagination { position:absolute; bottom:0; background:#fff; }
    .login-guide .swiper-pagination-bullet { width:12px !important; height:12px !important; border:0 !important; background:#D8D8D8 !important; opacity:1 !important; }
    .login-guide .swiper-pagination-bullet-active{ background:#4E32A5 !important; }

</style>
</head>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

    <!--contentsWrap -->
    <div class="contentsWrap">
        <!--contents -->
        <div class="contents">
            <div class="default-wrap">



            </div>
        </div>
        <!-- //contents -->

        <!--s:대출신청하기 상세팝업-->
        <div id="" class="layerpopup laypop-all has-button login-guide show" style="z-index: 322; display: block;">

            <div class="content-wrap">
                <div class="pop-header">
                    <h2 class="pop-title">대출 신청하기</h2>
                    <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                </div>
                <div class="pop-con-wrap">
                    <div class="default-wrap">
                        <div class="loan-slider-wrap swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                       <div class="swiper-txt">
                                            <strong><span class="bk">언제 어디서든 쉽고</span>빠른 대출</strong>
                                            <p>대출 신청부터 송금까지<br>
                                                10분이면 완료!</p>
                                       </div>
                                        <div class="news-img-wrap">
                                            <img src="/resources/images/main/temp_news_img0.png" alt="" style="width:185px;">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                        <em class="news-flag">깜짝퀴즈이벤트 2</em>
                                        <strong class="news-tit">예가람저축은행 파킹통장 이름은?!</strong>
                                        <p class="news-desc">
                                            정답 남기고 버거킹 와퍼 세트 받아가세요<br>
                                            친구에게 정답을 공유하면 당첨확률 UP!
                                        </p>
                                        <div class="news-img-wrap">
                                            <img src="/resources/images/main/temp_news_img0.png" alt="" style="width:185px;">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="javascript:void(0);">
                                        <em class="news-flag">깜짝퀴즈이벤트 3</em>
                                        <strong class="news-tit">예가람저축은행 파킹통장 이름은?!</strong>
                                        <p class="news-desc">
                                            정답 남기고 버거킹 와퍼 세트 받아가세요<br>
                                            친구에게 정답을 공유하면 당첨확률 UP!
                                        </p>
                                        <div class="news-img-wrap">
                                            <img src="/resources/images/main/temp_news_img0.png" alt="" style="width:185px;">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fixed-btn-wrap">
                <div class="btn-wrap">
                    <a href="javascript:void(0);" class="btn">충분히 이해했어요</a>
                </div>
            </div>

        </div>
        <!--e:대출신청하기 상세팝업-->

    </div>
    <!-- //contentsWrap -->
</body>
</html>

