<!-- <header class="headerWrap">
	<div class="header">
		<%if ("true".equals(backBtn)) {%>
	    <a class="btn-back" onclick="PageFunc.back();"><span class="blind">이전페이지 이동하기</span></a>
	    <%} %>
	    <h2><span><%=headerTitle %></span></h2>
	</div>
	<div class="menu-wrap">
		<%if (!"none".equals(headerType)) {%>
	    	<a class="btn-menu">메뉴</a>
	    <%} %>
	</div>
</header> -->


<header class="headerWrap01">
	<div class="headerLeft">
		<a href="javascript:void(0)" class="btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a>
		<!-- <a href="javascript:void(0)" class="user"><img src="/resources/images/header/user.png" alt="사용자이름"><span>김예가람</span></a> -->
		<!-- <a href="javascript:void(0)" class="logoImg"><img src="/resources/images/header/logo.png" alt="예가람저축은행로고" /></a> -->
	</div>
	<div class="headerCenter">
		<h2 class="text"><span>TEXT</span></h2>
	</div>
	<div class="headerRight">
		<a href="javascript:void(0)" class="btn-menu "><img  src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a>
		<!-- <a href="javascript:void(0)" class="btn-menu-close"><img  src="/resources/images/header/btn_close.png" alt="닫기버튼"></a> -->
		<!-- <a href="javascript:void(0)" class="btn-notify"><img src="/resources/images/header/btn_notify.png" alt="알림"><em class="count-flag"><span>3</span></em></a> -->
		<!-- <a href="javascript:void(0)" class="btn-like"><img src="/resources/images/header/btn_like.png" alt="좋아요"><em class="count-flag">3</em></a> -->
		<!-- <a href="javascript:void(0)" class="btn-interest"><img src="/resources/images/header/btn_interest.png" alt="관심상품"><em class="count-flag">3</em></a> -->
	</div>
</header>

