<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common" 
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>

<script>
$(document).ready(function(){
	$('.like').on('click', function (e) {
		e.preventDefault();
		var $tooltipWrap = $(this).parents('.tooltip-wrap');
		var $regText  = $(this).siblings('.tooltip-txt.reg');
		var $delText = $(this).siblings('.tooltip-txt.del');
		var $toolLike = $(this).siblings('.like');


		if ($tooltipWrap.hasClass('type2')) {
            

			if ($(this).hasClass('active')) {
				$(this).removeClass('active');
                // $tooltipWrap.css('z-index', 13);
                // $toolLike.css('z-index', 10);
				$delText.fadeIn();
				setTimeout(function () {
					$delText.fadeOut();
				}, 1000);
			} else {
				$(this).addClass('active');
                // $tooltipWrap.css('z-index', 13);
                $toolLike.css('z-index', 10);
				$regText.fadeIn();
				setTimeout(function () {
					$regText.fadeOut();
				}, 1000);
			}
		}
	});
});

</script>




<body>
    <!-- header -->
    <header class="headerWrap">
		<div class="headerLeft">
			<a href="javascript:void(0)" class="btn btnBack"><img src="/resources/images/header/btn_back.png" alt="이전페이지 이동하기"></a>
		</div>
		<div class="headerCenter">
			<h2 class="text"><span>햇살론II</span></h2> <!--D: TEXT -->
		</div>
		<div class="headerRight">
			<a href="javascript:void(0)" class="btn btn-menu "><img src="/resources/images/header/btn_menu.png" alt="전체메뉴"></a>
		</div>
	</header>
	<!-- //header -->

	<!--contentsWrap -->
	<div class="contentsWrap product-detail loan01"><!--D: dep01 클래스 : 예적금상품, loan01 클래스 : 대출상품 -->
		<!--contents -->
		<div class="contents">
			<div class="default-wrap">
				<div class="visual-area">
					<div class="flag-tit-wrap">
						<p><em class="flag style3">정책자금대출</em></p><!--D: style2 클래스 : 예적금상품, style3 클래스 : 대출상품 -->
						<strong class="tit">햇살론 II</strong>
						<div class="tooltip-wrap type2">
							<span class="like"></span>
							<div class="tooltip-txt reg"><!--D:  클릭 했을 경우 -->
								<p>관심상품으로 등록되었어요</p>
							</div>
							<div class="tooltip-txt del"><!--D:  클릭 해제 했을 경우 -->
								<p>관심상품에서 제외했어요</p>
							</div>
						</div>
					</div>
					<p class="desc-txt">#회전정기예금 #변동금리 #2년,3년 #인터넷,모바일가입</p>

					<ul>
						<li class="limit">
							<strong class="tit">한도</strong>
							<span class="exp">최대 5천만원</span>
						</li>
						<li class="rate">
							<strong class="tit">금리</strong>
							<span class="exp">9 ~ 11%</span>
						</li>
					</ul>
				</div>
				
				<ul class="button-list">
					<li><a href="javascript:void(0);">친구에게 공유하기</a></li>
					<li class="active"><a href="javascript:void(0);">상품비교 담기</a></li> <!-- [퍼블-2] li에 active 클래스 추가시 체크 활성화 --> 
				</ul>

				<div class="visual-area img01">
					<div class="tit-wrap">
						<!--D: 화면설계서 기준 없음 -->
						<!-- <ul class="tag">
							<li>변등금리</li>
							<li>인터넷 가입</li>
							<li>모바일 가입</li>
						</ul> -->
						<!--D: 화면설계서 기준 없음 //-->
						<p class="txt">
							최대 <em class="color-F1108E">5천만원</em>을 최저 <em class="color-F1108E">9%</em>금리로<br/>
							<em class="color-F1108E">햇살론II</em> 대출을 받을 수 있어요
						</p>
					</div>
				</div>
				<div class="visual-area img02">
					<div class="tit-wrap">
						<!--D: 화면설계서 기준 없음 -->
						<!-- <ul class="tag">
							<li>#회전정기예금</li>
							<li>#2년, 3년</li>
						</ul> -->
						<!--D: 화면설계서 기준 없음 //-->
						<p class="txt">
							<em class="color-F1108E">최장 5년</em>동안 매 달 <em class="color-F1108E">일정한 상환</em>으로<br/>
							한 줄기의 햇살처럼<br/>큰 힘이 되어주는 상품이에요
						</p>
					</div>
				</div>

				<!--D: 화면설계서 기준 없음 -->
				<!-- <div class="product-info">
					<h3>상품안내</h3>
					<div class="sub-tit-wrap">
						<p class="tit">가입대상</p>
						<ul class="txt hyphen">
							<li>비거주 외국인 외 제한없음</li>
							<li>인터넷 모바일 전용상품</li>
						</ul>
					</div>
					<div class="sub-tit-wrap">
						<p class="tit">가입기간</p>
						<p class="txt">최소 1개월 ~ 최대 36개월</p>
					</div>
					<div class="sub-tit-wrap">
						<p class="tit">가입한도</p>
						<p class="txt">10만원 이상</p>
					</div>
					<div class="sub-tit-wrap">
						<p class="tit">이자 지급 시기 및 방법</p>
						<div class="bg-box">
							<ul class="list-bull type-large num">
								<li>
									<em>1.</em>
									단리식(매월 이자지금식) 으로 지급되며 만기일시지금식(월복리식): 만기(후) 또는 중도해지 요청 시 이자를 지급									</li>
								<li>
									<em>2.</em>
									이자 지급식의 경우에 매월 방색하는 이자를 고객이 지정한 당행 또는 시중은행 보통 예금 계좌에 자동이체(대체) 가능
								</li>
							</ul>
						</div>
					</div>
					<div class="sub-tit-wrap">
						<p class="tit">상품특성</p>
						<p class="txt">예금액 중 일부 금액이 필요하신 경우에만 만기해약을 포함하여 4회(해지포함) 분할 및 중도인출이 가능합니다.</p>
					</div>
					<div class="sub-tit-wrap">
						<p class="tit">중도해지 이율</p>
						<ul class="txt hyphen">
							<li>회전주기 도래 전 : 정기예금 중도해지 이율 적용</li>
							<li>회전주기 도래 후 : </li>
							<li>완료된 회전주기 기간 : 약정금리 적용</li>
							<li>미완료된 회전주기 기간 : 정기예금 중도해지 이율 적용</li>
						</ul>
					</div>
					<div class="sub-tit-wrap">
						<p class="tit">유의사항</p>
						<div class="bg-box">
							<ul class="list-bull type-large color-FF0000">
								<li>계약 체결 전 상품설명서 및 약관을 확인하시기 바랍니다.</li>
								<li>해당 상품에 대해 충분한 사전 설명을 받을 권리가 있으며, 설명을 이해한 후 거래하시기 바랍니다.</li>
								<li>계좌에 압류, 가압류, 질권설정 등이 등록될 경우 원금 및 이자 지급 제한됩니다.</li>
							</ul>
						</div>
					</div>
					<div class="sub-tit-wrap">
						<p class="tit">인지 비용 부담</p>
						<div class="table-type table-row">
							<table>
								<caption>대출금액, 인지세액(고객 부담 금액)로 구성되어 있는 인지 비용 부담 안내 표</caption>
								<colgroup>
									<col width="30%">
									<col width="*%">
								</colgroup>
								<thead>
									<tr>
										<th scope="col">대출금액</th>
										<th scope="col">인지세액(고객 부담 금액)</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="ta-l">5천만원 미만</td>
										<td class="ta-l">없음</td>
									</tr>
									<tr>
										<td class="ta-l">5천만원 초과 ~ 1억원 이하</td>
										<td class="ta-l">7만원 (3.5만원)</td>
									</tr>
									<tr>
										<td class="ta-l">1억원 초과 ~ 10억원 이하</td>
										<td class="ta-l">15만원 (7.5만원)</td>
									</tr>
									<tr>
										<td class="ta-l">10억원 초과</td>
										<td class="ta-l">35만원 (17.5만원)</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div> -->
				<!--D: 화면설계서 기준 없음 //-->

				<div class="product-info">
					<ul class="arrow-button-list">
						<li><a href="javascript:void(0);">상품안내</a></li>
						<li><a href="javascript:void(0);">금리인하요구안내</a></li>
						<li><a href="javascript:void(0);">청약철회안내문</a></li>
						<li><a href="javascript:void(0);">여신거래기본약관</a></li>
						<li><a href="javascript:void(0);">유의사항</a></li>

					</ul>
				</div>

				<div class="kdic-wrap">
					<!-- 삭제 <img src="../../../resources/images/common/img-kdic.png" alt="예금보험공사 보호금융상품 1인당 최고 5천만원" />
					<p>이 예금은 예금자보호법에 따라 예금보험공사가 보호하되, 보호 한도는 본 고려저축은행에 있는 귀하의 모든 예금보호 대상 금융상품의 원금과 소정의 이자를 합하여 1인당 "최고 5천만원"이며,  5천만원을 초과하는 나머지 금액은 보호하지 않습니다.</p> -->
				</div>
				<p class="txt-junbub">예가람저축은행 준법감시인 심의필 제2023-105호<br>(2023.09.27~2024.09.26)</p>
			</div>
		</div>
		<!-- //contents -->

		<div class="fixed-btn-wrap">
			<div class="btn-wrap">
				<a href="javascript:void(0);" class="btn btn-info">전화상담</a>
				<a href="javascript:void(0);" class="btn">대출신청</a>
			</div>
		</div>

	</div>
	<!-- //contentsWrap -->
</body>
</html>

