<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common"
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm"
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
    </div>
	<!-- //header -->

    <form>
        <!--contentsWrap -->
        <div class="contentsWrap grid">
            <!--contents -->
            <div class="contents">
                <div class="default-wrap">
                    
                    <section>
                        <div class="tit-wrap">
                            <p class="txt"><strong>대출한도조회 결과입니다</strong></p>
                        </div>
                        <ul class="prod-box-list line">

                            <li>
                                <div class="prod-box">
                                    <div class="icon-exp">
                                        <p>직장인, 자영어바, 프리랜서를 위한</p>
                                    </div>
                                    <div class="flag-tit-wrap">
                                        <em class="flag style3 ">대환대출</em>
                                        <strong class="tit">빅머니U론</strong>
                                    </div>
                                    <ul class="text-bar-list">
                                        <li>직장인</li>
                                        <li>자영업자</li>
                                        <li>프리랜서</li>
                                    </ul>
                                    <div class="label-info-wrap">
                                        <p>최대 1억원</p>
                                        <strong class="info">연<span>6.80</span>% ~ <span>18.20</span>%</strong>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="prod-box">
                                    <div class="icon-exp">
                                        <p>타사 채무 상환과 추가대출을 동시에</p>
                                    </div>
                                    <div class="flag-tit-wrap">
                                        <em class="flag style3">대환대출</em>
                                        <strong class="tit">라이브U론</strong>
                                    </div>
                                    <ul class="text-bar-list">
                                        <li>전직군</li>
                                        <li>20세 이상</li>
                                        <li>최대 5,000만원</li>
                                    </ul>
                                    <div class="label-info-wrap">
                                        <p>최대 1억원</p>
                                        <strong class="info">연<span>15.60</span>% ~ <span>19.90</span>%</strong>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </section>

                    <section class="sub-info-wrap">
                        <div class="tel">이용문의 <strong>1877-9900</strong></div>
                        <p>평일 09:00 ~ 18:00<br>(주말 및 공휴일 휴무)</p>
                    </section>
                    

                </div>
            </div>
            <!-- //contents -->

        </div>
        <!-- //contentsWrap -->
    </form>
</body>
</html>

