<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>예가람저축은행</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="예가람저축은행keywords" />
<meta name="description" content="예가람저축은행description" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">

<meta name="apple-mobile-web-app-status-bar-style" content="white" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">

<link href="/resources/css/default.css" rel="stylesheet" />
<link href="/resources/css/renewal.css" rel="stylesheet" />


<link href="/resources/css/swiper-bundle.min.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/resources/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/resources/favicon.ico" />

<script type="text/javascript" src="/resources/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.cookie.js"></script>

<script type="text/javascript" src="/resources/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/TweenMax.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/jquery.animateSprite.min.js"></script>
<script type="text/javascript" src="/resources/js/lib/default.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/ui.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/lib/rolldate.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_cont.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_auth.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_funs.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_nsl.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/app_common_util.js?v=20230803152535"></script>
<script type="text/javascript" src="/resources/js/biz_common.js?version=20230803152535" id="biz_common" 
	data-menuId="dep/prc"
	data-frameId="depAcnoOpenPrc2"
	data-serviceCd="depAcnoOpenPrc2.frm" 
	data-serverTime="20230803152535"
	data-activeMode="local"
	data-activeEnv="${active.env">
</script>


<body>
    <!-- header -->
    <div id="headerWrap">
        <script>
        $(document).ready(function(){
            document.charset="euc-kr";
            $("#headerWrap").load("../includes/header.html");
        });
        </script>
        <style>
            h3{ margin:50px 0 20px; }
        </style>
    </div>
	<!-- //header -->
    
    <form>
        <!--contentsWrap -->
        <div class="contentsWrap">
            <!--contents -->
            <div class="contents">
                <div class="default-wrap">
                    <h3>Case 1 - 상단에 위치</h3>
                    <section class="tabs-wrap">
                        <div class="tabs">
                            <ul class="tab-item">
                                <li class="on" data-tab="tab-cont001"><a href="#none">TAB1</a></li>
                                <li data-tab="tab-cont002" class=""><a href="#none">TAB2</a></li>
                                <li data-tab="tab-cont003" class=""><a href="#none">TAB3</a></li>
                            </ul>
                            <div class="tab-content-area">

                                <div id="tab-cont001" class="tab-content on">
                                     탭내용1
                                </div>

                                <div id="tab-cont002" class="tab-content dp-none">
                                    탭내용2
                                </div>

                                <div id="tab-cont003" class="tab-content dp-none">
                                   탭 내용3
                                </div>

                            </div>
                        </div>
                    </section>

                    <h3>Case 2 - 본문 컨텐츠 영역</h3>
                    <section class="tabs-wrap type2">
                        <div class="tabs">
                            <ul class="tab-item">
                                <li class="on" data-tab="tab-cont003"><a href="#none">TAB1</a></li>
                                <li data-tab="tab-cont004" class=""><a href="#none">TAB2</a></li>
                                <li data-tab="tab-cont005" class=""><a href="#none">TAB3</a></li>
                            </ul>
                            <div class="tab-content-area">

                                <div id="tab-cont003" class="tab-content on">
                                     탭내용1
                                </div>

                                <div id="tab-cont004" class="tab-content dp-none">
                                    탭내용2
                                </div>

                                <div id="tab-cont005" class="tab-content dp-none">
                                   탭 내용3
                                </div>

                            </div>
                        </div>
                    </section>
                    

                </div>
            </div>
            <!-- //contents -->

        </div>
        <!-- //contentsWrap -->
    </form>
</body>
</html>

